@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {    
    font-family: 'Poppins', sans-serif; 
    background-color:rgb(22, 194, 224) ;
} 
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    
}

.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
}
.heading{
    display: flex;
    justify-content: center;
    align-items: baseline;
}
.fa-clipboard-list{
    font-size: 40px;
}
h1{
    font-size: 40px;
    margin: 20px;
    text-decoration: underline;
}
.text{
    padding: 10px;
    width: 300px;
    border-radius: 5px;
    font-size: 15px;
    outline: none;
}
.add-btn{
    padding: 10px;
    background-color: blue;
    border-radius: 5px;
    color: white;
    font-size:15px ;
    font-weight: 700;
}